name: Auto build Aseprite

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"   # every Sunday at 00:00 UTC

permissions:
  contents: write

jobs:
  auto-build:
    name: Auto build Aseprite for Windows x64
    runs-on: windows-2022

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Ninja
        uses: ashutoshvarma/setup-ninja@v1.1

      - name: Setup MSVC Developer Command Prompt
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64

      - name: Clone Aseprite (latest stable tag)
        run: |
          git clone https://github.com/aseprite/aseprite.git src/aseprite
          cd src/aseprite
          git fetch --tags
          $latestTag = git describe --tags (git rev-list --tags --max-count=1)
          echo "Latest tag: $latestTag"
          git checkout $latestTag
          git submodule update --init --recursive

      - name: Download Prebuilt Skia
        run: |
          curl -L https://github.com/aseprite/skia/releases/download/m124-08a5439a6b/Skia-Windows-Release-x64.zip -o skia.zip
          7z x skia.zip -osrc/skia

      - name: Download OpenSSL (Windows x64)
        run: |
          curl -L -o openssl.zip https://slproweb.com/download/Win64OpenSSL-1_1_1w.zip
          7z x openssl.zip -oopenssl
          copy .\openssl\bin\libcrypto-1_1-x64.dll ./build/bin
            - name: Build Aseprite
              run: |
                mkdir build
                cd build
                cmake "${{ github.workspace }}/src/aseprite" -G Ninja -DCMAKE_BUILD_TYPE=MinSizeRel -DLAF_BACKEND=skia -DSKIA_DIR="${{ github.workspace }}/src/skia" -DSKIA_LIBRARY_DIR="${{ github.workspace }}/src/skia/out/Release-x64" -DSKIA_LIBRARY="${{ github.workspace }}/src/skia/out/Release-x64/skia.lib"
                cmake --build . --config MinSizeRel --target aseprite
                copy "C:/Windows/System32/libcrypto-1_1-x64.dll" ./bin

      - name: Get version
        id: get_version
        run: |
          cd src/aseprite
          $version = git describe --tags --always
          echo "version=$version" >> $env:GITHUB_OUTPUT

      - name: Zip Aseprite
        run: |
          cd build/bin
          7z a ../../Aseprite-Windows-x64-${{ steps.get_version.outputs.version }}.zip *

      - name: GH Release
        uses: softprops/action-gh-release@v2
        with:
          name: Aseprite-Windows-x64-${{ steps.get_version.outputs.version }}
          tag_name: ${{ steps.get_version.outputs.version }}
          files: |
            Aseprite-Windows-x64-${{ steps.get_version.outputs.version }}.zip
